@charset "UTF-8";
@import "css3";

.ucs-list{
  overflow: hidden;
}
.ucs-list-item{
  position: relative;
  .list-front-layer{
    position: relative;
    @include display-flex;
    @include align-items(center);
    background: #fff;
    @include transition(left .3s);
  }
  .list-back-layer{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    background: #e2e2e2;
  }
  .list-left-content{
    @include flex(1);
  }
  .list-thumb{
    width: 20%;
    img{
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
    }
  }
  .arrow-up{
    @include rotate(-90deg);
  }
  .arrow-down{
    @include rotate(90deg);
  }
  .extra-align-top{
    @include align-self(flex-start);
  }
  .extra-align-bottom{
    @include align-self(flex-end);
  }
}