.ucs-offcanvas{
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .ucs-offcanvas-mask{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
  }
  .ucs-offcanvas-sidebar{
    height:100%;
    width:300px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    background: #fff;
    box-sizing: border-box;
    border-right:1px solid rgba(0,0,0,0.5);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  }
  .ucs-offcanvas-con{
    color: rgb(166, 166, 166);
    text-align: center;
    padding-top: 42px;
  }
  .ucs-offcanvas-touchPart{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width: 10px;
    background: rgba(50,50,50,.1);
  }
}
.ucs-offcanvas.ucs-offcanvas-open{
  .ucs-offcanvas-mask{
    opacity: 1;
    visibility:visible;
  }
  .ucs-offcanvas-sidebar{
    transform: translateX(0);
  }
}
.ucs-offcanvas.notransition{
  .ucs-offcanvas-sidebar{
    transition: inherit;
  }

}