.wrap{
  position: relative;
  border-radius: 50%;
  background-color: #ccc;
}
.circle,.percent{
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
}
.clip-auto{
  clip:rect(auto, auto, auto, auto);
}
.left{
  transition:transform ease;
}
.wth0{
  width:0;
}
.num{
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}